/*GLOBAL*/
body * {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 10vw; }

h2 {
  font-size: 8vw; }

h3 {
  font-size: 4.5vw; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*HEADER*/
header {
  background: #0D47A1; }
  header h1 {
    padding: 5vw;
    text-align: center;
    color: #FFF;
    letter-spacing: 0.1vw; }

/*MAIN*/
main {
  display: flex;
  justify-content: space-between; }

/*TAB CONTAINER*/
div.tab-container {
  width: 100%;
  background: #0D47A1; }

/*SONGLIST*/
section.songlist {
  background: orange; }

ul.songlist {
  background: #0D47A1; }
  ul.songlist * {
    box-sizing: border-box; }
  ul.songlist h2.artist {
    background: #F4DECB; }
  ul.songlist h2.song-title {
    background: #FFF;
    border: 0.3vw solid #F4DECB; }
  ul.songlist h3.album-title {
    background: #F4DECB; }
  ul.songlist div.interaction-icons {
    background: #F4DECB; }
  ul.songlist div.audio-player {
    background: #FFF;
    border: 0.3vw solid #F4DECB; }

/*PLAYLIST*/
ul.playlist {
  background: #0D47A1; }
  ul.playlist * {
    box-sizing: border-box; }
  ul.playlist h2.artist {
    background: #FFF;
    border: 0.3vw solid #F4DECB; }
  ul.playlist h2.song-title {
    background: #F4DECB; }
  ul.playlist h3.album-title {
    background: #FFF;
    border: 0.3vw solid #F4DECB; }
  ul.playlist div.interaction-icons {
    background: #FFF;
    border: 0.3vw solid #F4DECB; }
  ul.playlist div.audio-player {
    background: #F4DECB; }

ul.playlist span.playlist-btn {
  display: none !important; }

/*SONG*/
div.song {
  padding: 5vw 2vw;
  margin: 2vw 1vw; }
  div.song h2.artist {
    text-align: center;
    padding: 5vw 0; }
  div.song h2.song-title {
    text-align: center;
    padding: 3vw 0; }
  div.song h3.album-title {
    text-align: center;
    padding: 3vw 0; }
  div.song div.interaction-icons {
    display: flex;
    justify-content: space-around;
    padding: 5vw 0; }

/*AUDIO PLAYER*/
div.audio-player div.react-h5-audio-player div.flex .toggle-play-button, div.audio-player div.react-h5-audio-player div.flex .indicator {
  background: #F44336 !important; }

/*INTERACTION ICONS*/
.material-icons:hover {
  cursor: pointer; }

@media screen and (min-width: 767px) {
  /*GLOBAL*/
  h1 {
    font-size: 3vw; }
  h2 {
    font-size: 2vw; }
  h3 {
    font-size: 2vw; }
  /*HEADER*/
  header h1 {
    padding: 2vw; }
  /*SONG*/
  div.song {
    display: flex;
    padding: 1vw;
    margin: 1vw; }
    div.song div.song-info {
      width: 40%; }
      div.song div.song-info h2.artist {
        padding: 3vw 0; }
      div.song div.song-info h2.song-title {
        padding: 2vw 0; }
      div.song div.song-info h3.album-title {
        padding: 2vw 0; }
      div.song div.song-info div.like-icon {
        padding: 7vw; }
    div.song div.audio-player {
      width: 40%; }
    div.song div.interaction-icons {
      width: 20%;
      display: flex;
      padding: 0;
      flex-direction: column;
      align-items: center; }
  /*AUDIO PLAYER*/
  div.audio-player {
    display: flex;
    align-items: center;
    padding: 3vw; }
    div.audio-player * {
      flex-grow: 1; }
  /*SONGLIST*/
  ul.songlist div.react-h5-audio-player div.flex {
    background: #F4DECB !important; }
    ul.songlist div.react-h5-audio-player div.flex div:first-child {
      background: white !important; }
  /*PLAYLIST*/
  ul.playlist div.react-h5-audio-player div.flex {
    background: white !important; }
    ul.playlist div.react-h5-audio-player div.flex div:first-child {
      background: #F4DECB !important; } }
